.detail__top {
  background-color: #d4b267;
  padding: 0 20px; }

.detail__content {
  padding: 0 20px; }

.detail__module {
  padding: 20px 0; }
  .detail__module:nth-child(n + 2) {
    border-top: 1px solid #E4E2E2; }

.detail__moduleTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0; }

.detail__overview {
  color: #333;
  font-size: 14px;
  line-height: 28px; }
