@import "../../util";
.seat{
  .tOperator {
    padding: 0 20px;
  }

  &__tip {
    height: 30px;
    padding: 10px 0;
    background: #fff url("../../icons/seats.svg") 50% 50% / auto 24px no-repeat;
  }

  &__graph {
    background-color: #f7f7f7;
    width: 100%;
    height: 500px;
  }

  &__screen {
    font-size: 14px;
    color: #000000;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: url('../../icons/screen.svg') 50% 0 / auto 28px no-repeat;
  }
  &__map {
    width: 100%;
    overflow-x: scroll;
  }
  &__map::-webkit-scrollbar {
    display:none
  }
}
